@charset "UTF-8";
/*setting up the grid for the gallery*/
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        "item2 item3 item1 item1"
        "item5 item5 item1 item1"
        "item5 item5 item4 item6"; 
}

/*setting images up*/
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

/*assign items to cells*/
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}